.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs {
  color: #abb2bf;
  background: #282c34;
}

.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-comment,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-doctag,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-formula,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-keyword {
  color: #c678dd;
}

.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-deletion,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-name,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-section,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-selector-tag,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-subst {
  color: #e06c75;
}

.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-literal {
  color: #56b6c2;
}

.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-addition,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-attribute,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-meta .hljs-string,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-regexp,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-string {
  color: #98c379;
}

.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-attr,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-selector-attr,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-selector-class,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-selector-pseudo,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-template-variable,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-type,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-variable {
  color: #d19a66;
}

.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-bullet,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-link,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-selector-id,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-symbol {
  color: #61aeee;
}

.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-built_in,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-class .hljs-title,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-title.class_ {
  color: #e6c07b;
}

.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-emphasis {
  font-style: italic;
}

.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-strong {
  font-weight: 700;
}

.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-link {
  text-decoration: underline;
}

.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-title,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-meta,
.easymde-rendered-content.easymde-code-theme-fullstack-blue .hljs-number {
  color: #abb2bf;
}
